@model AgnusCrm.Web.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubFamily)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubFamily.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand.code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
