@model AgnusCrm.Models.View_PriceList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>View_PriceList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marca_Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marca_Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.familia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.familia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.familia_Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.familia_Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subFamilia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subFamilia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subFamilia_Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subFamilia_Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.artigo_Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.artigo_Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.artigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
