@model AgnusCrm.Web.Models.Entity

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Entity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.locality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contributing_Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contributing_Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telphone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telphone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coin.code)
        </dd>
    </dl>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Contactos
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Contacto
                                </th>
                                <th>
                                    Celular
                                </th>
                                <th>
                                    Telefone
                                </th>
                                <th>
                                    Email
                                </th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listContact)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.contact.fullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.contact.cellPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.contact.telephone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.contact.email)
                                    </td>
                                    <td>
                                        <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.contact.id">Edit</a> |
                                        <a asp-controller="Contacts" asp-action="Details" asp-route-id="@item.contact.id">Details</a> |
                                        <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@item.contact.id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>



                </div>
            </div>
        </div>

        
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
