@model IEnumerable<AgnusCrm.Web.Models.Entity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Clientes</h2>



<p>
    

</p>

<form asp-controller="Entities" asp-action="Index">

    @*<a asp-action="Create" class="btn btn-primary "><i class="fa fa-plus-circle left"></i>Novo</a>*@

    Entity: <input type="text" class="search" name="entities_SearchString"/>
    <button class="btn btn-primary"><i class="fa fa-search"></i></button>

</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contributing_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.id"><i class="fa fa-info-circle"></i></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contributing_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coin.code)
            </td>

        </tr>
}
    </tbody>
</table>
