@model AgnusCrm.Web.Models.Coin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Coin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.decimalPlaces)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.decimalPlaces)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
