@model IEnumerable<AgnusCrm.Web.Models.Product>

@{
    ViewData["Title"] = "Price List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Price List/Encomenda</h2>

<form asp-controller="PriceList" asp-action="Index">
    <p>
        Artigo: <input type="text" name="SearchString">
        <input type="submit" value="Filtro" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Brand.description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Family.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubFamily.description)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Brand.description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Family.description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.SubFamily.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
